
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.login-container {
    margin: 0 auto;
    width: 50%;
    margin-top: 8vh;
    
    }

    .login-container h2{

        text-align: center;
        font-size: 40px;
    }

.form-element {
    width: 100%;

}

.form-element label {
    display:block;
    font-size: 22px;
    margin-top: 1rem;

    
}

.form-element input[type="text"], .form-element input[type="password"]{
    font-size: 22px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #8888;
    
    
}

.login-container button{

    width:100%;
    letter-spacing: 6px;
    border-radius: 4px;
    margin-top: 2rem;
    font-size: 32px;
    padding:1rem;
    background-color: rgb(2,110,165);
    border:None;
    color: white;
    cursor:pointer;

}

.login-container button:hover{
    background-color: rgb(50, 216, 218);
}

.login-container{

    background-color: white;
    border: 1px solid grey;
    border-radius: 4px;
    height: auto;
    padding: 2rem;
    box-shadow: 5px 6px 18px #888888;
}

.form-logo{

width: 100%;
height: auto;
text-align: center;

}
#formlogin{
    background-image: radial-gradient(circle at 40% 91%, rgba(251, 251, 251,0.04) 0%, rgba(251, 251, 251,0.04) 50%,rgba(229, 229, 229,0.04) 50%, rgba(229, 229, 229,0.04) 100%),radial-gradient(circle at 66% 97%, rgba(36, 36, 36,0.04) 0%, rgba(36, 36, 36,0.04) 50%,rgba(46, 46, 46,0.04) 50%, rgba(46, 46, 46,0.04) 100%),radial-gradient(circle at 86% 7%, rgba(40, 40, 40,0.04) 0%, rgba(40, 40, 40,0.04) 50%,rgba(200, 200, 200,0.04) 50%, rgba(200, 200, 200,0.04) 100%),radial-gradient(circle at 15% 16%, rgba(99, 99, 99,0.04) 0%, rgba(99, 99, 99,0.04) 50%,rgba(45, 45, 45,0.04) 50%, rgba(45, 45, 45,0.04) 100%),radial-gradient(circle at 75% 99%, rgba(243, 243, 243,0.04) 0%, rgba(243, 243, 243,0.04) 50%,rgba(37, 37, 37,0.04) 50%, rgba(37, 37, 37,0.04) 100%),linear-gradient(90deg, rgb(34, 222, 237),rgb(135, 89, 215));
}

  body{

    font-family: "Arial";
  }
  h1{
    text-align: center;
  }
  table{
  
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align:left;
    padding: 8px;
    border-bottom: 1px solid #ddd;m
  }
  
  tr:nth-child(even){
    background-color: #f2f2f2;
  }

  /* message */

  .message{
width:100%;
padding:1rem;


  }

.message.warning{
  background: #e9e77f;
  border-left: 6px solid #ceca09;
  color: #817f05;
} 


